.contact-container {
  height: 100vh;
  background-color: black;
  display: flex;
}

.contact-section {
  margin: auto;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contact-form {
  width: 100%;
  margin-top: 20px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  margin-bottom: 10px;
}

.half-input {
  width: 48%;
  display: inline-block;
  margin-right: 2%;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  max-height: 300px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: white;
  color: black;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: white;
  color: black;
}

input[type="submit"] {
  background-color: #3498db;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #2980b9;
}

.socials {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  a {
    text-decoration: none;
    color: white;
  }
}
