.experience-card {
  background-color: #fafafa;
  border-radius: 15px;
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 0px;
  font-family: "Montserrat";
}
.experience-card:hover {
  transform: scale(1.02);
}
.experience-card img {
  height: 100px;
}
